version: '3.7'
services:
    proxy:
        # NOTE: Only for "docker stack deploy" (not "docker-compose").
        deploy:
            restart_policy:
                condition: on-failure
                delay: 10s
                max_attempts: 5
                window: 120s
        ports:
            - "80:80"
            - "443:443"
        # NOTE: Only for "docker-compose" (not "docker stack deploy").
        restart: on-failure
        volumes:
            - ../../etc/containerBase:/etc/containerBase
            - ../../etc/nginx/conf.d:/etc/nginx/conf.d
            - /srv/http:/srv/http
