# -*- coding: utf-8 -*-
# region header
# Copyright Torben Sickert (t.sickert["~at~"]gmail.com) 16.12.2012

# License
# -------

# This library written by Torben Sickert stand under a creative commons naming
# 3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
# endregion
[Unit]
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
Description=HTTP proxy server.

[Service]
ExecStartPre=-/usr/bin/env docker-compose --compatibility --file docker-compose.yaml kill $APP
ExecStartPre=-/usr/bin/env docker-compose --compatibility --file docker-compose.yaml rm --force $APP
ExecStart=/usr/bin/env docker-compose --compatibility --file docker-compose.yaml up --force-recreate --no-build --no-deps $APP
ExecStop=/usr/bin/env docker-compose --compatibility --file docker-compose.yaml stop $APP
NotifyAccess=all
Restart=always
RestartSec=10
User=service
WorkingDirectory=/srv/http/proxy

[Install]
WantedBy=multi-user.target
# region vim modline
# vim: set tabstop=4 shiftwidth=4 expandtab:
# vim: foldmethod=marker foldmarker=region,endregion:
# endregion
