apiVersion: v1
kind: Pod
metadata:
    name: proxy_pod
    creationTimestamp: '2019-10-12T18:55:07Z'
    labels:
        app: proxy
spec:
    name: proxy
    image: ghcr.io/thaibault/proxy:latest-x86-64
    containers:
        - env:
            - name: container
              value: podman

    ports:
        - containerPort: 80
          hostPort: 8080
          protocol: TCP
        - containerPort: 443
          hostPort: 4443
          protocol: TCP

    workingDir: /application

    volumeMounts:
        - name: containerBaseConfiguration
          mountPath: /etc/containerBase
        - name: nginxConfiguration
          mountPath: /etc/nginx/conf.d
        - name: certificates
          mountPath: /application/certificates
        - name: scripts
          mountPath: /application/scripts
    volumes:
        - name: containerBaseConfiguration
          hostPath:
            path: ./etc/containerBase
            type: Directory
        - name: nginxConfiguration
          hostPath:
            path: ./etc/nginx
            type: Directory
        - name: certificates
          hostPath:
            path: ./certificates
            type: Directory
        - name: scripts
          hostPath:
            path: ./scripts
            type: Directory
